@page
@model WebApplication.ThirdTaskModel
@{
    ViewData["Title"] = "ThirdTask";
}

<h1>Третье задание</h1>
<p>Реализовать приложение C#, которое предоставит функционал определения входящий строки является ли она палиндромом</p>
<form method="post">
    Строка:
    <input type="text" asp-for="Word"/>
    <input type="submit" />
    <p>Результат: @Model.Result</p>
</form>
